<app-navbar></app-navbar>
<section id="home-section">
    <div class="container">
      <h3>Welcome To Trading Market</h3>
      <div class="card-container">
        <div class="row">
          <div class="col-md-4">
            <div id="div1">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Login As Admin To Create Share</h5>
                  <a class="btn btn-primary" routerLink="/adminlogin">Admin Login</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div id="div2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Hello Trader!</h5>
                  <a class="btn btn-primary" routerLink="/traderlogin">Trader Login</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div id="div3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Sign Up and Aquire Market</h5>
                  <a class="btn btn-primary" routerLink="/traderregister">Sign Up for Trading</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>