<app-navbar></app-navbar>
<div class="center">
  <h1>Admin Login</h1>
  <form [formGroup]="adminLoginGroup" (ngSubmit)="adminLogin()">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="text" formControlName="emailId" name="emailid" pattern=".+@globex\.com" class="form-control"
        id="exampleInputEmail1" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" formControlName="password" name="password" class="form-control" id="exampleInputPassword1"
        placeholder="Password">
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
</div>