<div class="center">
  <h1>Trader Register</h1>
  <form [formGroup]="traderRegisterForm" (ngSubmit)="traderRegister()">
    <div class="form-group">
      <label for="date">Date of Birth</label>
      <input type="datetime-local" class="form-control" formControlName="dateOfBirth" id="DoB" name="doB" placeholder="Date of Birth" required>
    </div>
    <div class="form-group">
      <label for="emaild">Email Id</label>
      <input type="text" class="form-control" formControlName="emailId" id="emaild" name="email"placeholder="Email Id" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
    </div>
    <div class="form-group">
      <label for="firstName">FirstName</label>
      <input type="firstname" class="form-control" id="firstname" placeholder="FirstName" name="firstname" required>
    </div>
    <div class="form-group">
      <label for="Lastname">Lastname</label>
      <input type="lastname" class="form-control" id="lastname" placeholder="LastName" name="lastname" required>
    </div>
    <div class="form-group">
      <label for="phonenumber">Phone Number</label>
      <input type="tel" class="form-control" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"placeholder="Phone" required>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Pan Number</label>
      <input type="password" class="form-control" id="exampleInputPassword1" pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}" placeholder="Pan Number">
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
</div>