<app-navbar></app-navbar>
<div class="container">
    <table class="table table-hover" style="border: blue; padding: auto; border-radius: 10px; border-width: 5px;">
        <thead style="height: max-content;background-color: cornsilk;margin-top: auto;">
            <th>shareID</th>
            <th>sharename</th>
            <th>shareprice</th>
            <th>shareQuantity</th>


        </thead>
        <tr *ngFor="let share1 of share">
            <td>{{share1.id}}</td>
            <td>{{share1.sharename}}</td>
            <td>{{share1.price}}</td>
            <td>{{share1.quantity}}</td>
            <button type="button" class="btn btn-warning" [routerLink]="['/sharesbuy',share1.id]">Buy Share</button>

        </tr>
    </table>
</div>